<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GITHUB" value="https://nuget.pkg.github.com/c-teleport/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GITHUB>
      <add key="Username" value="%GITHUB_NUGET_REGISTRY_USERNAME%" />
      <add key="ClearTextPassword" value="%GITHUB_NUGET_REGISTRY_PASSWORD%" />
    </GITHUB>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="GITHUB">
      <package pattern="CTeleport.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>